/* In your Tech.css or global styles */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  opacity: 1 !important;
  animation: fadeIn 0.8s ease-out forwards;
}

.view-more-link {
  position: relative;
  display: inline-block;
  color: #f9d423;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}

.view-more-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f9d423; /* Same as the text color */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.view-more-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.view-more-link:hover {
  background-color: #f9d423; /* Background color changes on hover */
  color: #000000; /* Text color changes to black on hover */
  border-color: #f9d423; /* Add a border color */
  box-shadow: 0px 4px 10px rgba(249, 212, 35, 0.4); /* Add shadow effect */
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease, box-shadow 0.3s ease;
}
